link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')

head
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  link(rel='stylesheet', href='../../stylesheets/login.css')

body#LoginForm
  .container
        .login-form
            .main-div
                .panel
                    if info && info.message 
                        div.alert.alert-danger
                        = info.message
                    h2 Cambio de password
                    p Por favor, ingrese su clave
                form#Login(action='/resetPassword' method='post')
                    input#email(type='hidden' name='email' value= user.email)
                    .form-group
                        label(for='pwd') Password: 
                        input#pwd.form-control(type='password' name='password' class= errors.password ? 'is-invalid' : '')
                        if errors.password
                            small#passwordHelp.text-danger
                            = errors.password.message  
                    .form-group
                        label(for='confirm_pwd') Confirmar Password: 
                        input#confirm_pwd.form-control(type='password' name='confirm_password' class= errors.confirm_password ? 'is-invalid' : '')
                        if errors.confirm_password
                            small#confirm_passwordHelp.text-danger
                            = errors.confirm_password.message  
                
                button.btn.btn-primary(type='submit') Login
