extends ../layout

block content
    a.btn.btn-success(href='/users/create') Nuevo Usuario

    br
    br

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Nombre
                th(scope='col') Apellido
                th(scope='col') Verificado
                th(scope='col')
                th(scope='col')
        tbody
            each usuario in usuarios
                tr
                    td(scope='row')= usuario.id
                    td(scope='row')= usuario.nombre
                    td(scope='row')= usuario.apellido
                    td(scope='row')= usuario.verificado ? 'SI' : 'NO'
                    td
                        a.btn(href='usuarios/' + usuario.id + '/update') Editar
                    td
                        form.inline(method='post' action='usuarios/' + usuario.id + '/delete')
                            input(type='hidden' name='id', value=usuario.id)
                            button.link-button.btn-danger(type='submit' name='submit_param' value='Eliminar')